html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6, p {
    margin: 0;
};

ul[class],
ol[class] {
    margin: 0;
    padding: 0;

    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
};

address {
    font-style: normal;
}

body {
    font-family: $mainFont;
    font-size: 12px;
    color: $darkTextColor;

    background-image: url(../images/body/backgroud_mobile@1x.jpg);
    background-position: center;
    background-size: contain;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/body/backgroud_mobile@2x.jpg)
    }

    @media screen and (min-width: 481px) {
        background-image: url(../images/body/background_tablet@1x.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/body/background_tablet@2x.jpg);
        }
    }

    @media screen and (min-width: 768px) {

        background-image: url(../images/body/backgroud_desktop@1x.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/body/backgroud_desktop@2x.jpg);
        }
    }
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    position: relative;

    @media screen and (min-width:320px) {
        width: 320px;
    }

    @media screen and (min-width: 768px) {
        padding-left: 32px;
        padding-right: 32px;
        
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        padding-left: 16px;
        padding-right: 16px;

        width: 1200px;
    }
}

 .visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}