%link {
  text-decoration: none;
}

%button {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  min-width: 104px;
  border-radius: 10px;
  border: 2px solid #f8d24e;
  cursor: pointer;

  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);
}
