// Fonts
$mainFont: montserrat, sans-serif;
$titleFont: Seymour One, sans-serif;

// Text colors
$lightTextColor: #fcfcfc;
$darkTextColor: #131313;
$buttonTextColor: #000000;
$timeTextColor: #907e82;
$accentTextColor: #f8d24e;

// Background colors
$mainBgColor: #84a178;
$secondaryBgColor: #fcfcfc;

$mobileMenuBgColor: #85a279;
$tabletMenuBgColor: #97af8d;

$iceCreamBgColor: #aec6a5;
$iceCofeeBBgColor: #efd478;
$milkshakesBgColor: #d6936d;

$formInputBgColor: rgba(248, 210, 78, 0.1);

// Button BgColors
$defaultBtnBgColor: #f8d24e;
$hoverFocusBtnBgColor: #0a8817;
$disabledBtnBgColor: #ababab;

// Footer colors
$footerColor: #7a7a7a;
$footerBorder: #e1e1e1;

// transition-duration and timing-function

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
