<section class="about">
  <div class="container">
    <p class="main-text-one">tradition and love</p>
    <h2 class="main-text">how it’s made?</h2>

    <div class="block">
      <!-- <img  class="image" src="./images/about/cow@2x.png" alt="image"> -->
      <img class="image" src="./images/about/michael.png" alt="image" />

      <div class="block-second">
        <ul data-aos="fade-left" class="list">
          <li class="">
            <p class="text">
              Ice is a place where you will become not only a little happier,
              but also healthier. Health is the main value for us, and we follow
              it when creating our handmade desserts.
            </p>
          </li>
          <li class="">
            <p class="text-one">
              We use traditional recipes and 100% natural ingredients. Our
              products are so natural that they can be given to children from
              the age of three years. Sweets lovers can expect 55 types of ice
              cream, 15 types of coffee and 23 milkshakes.
            </p>
          </li>
          <li class="">
            <p class="text-two">
              This is enough to choose ice cream and coffee for any mood!
            </p>
          </li>
        </ul>

        <button class="button" type="button">
          <span class="button-text">Read more</span>

          <svg class="button-svg" width="12" height="12 ">
            <use href="./images/images-sprite.svg#icon-button-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
