<section class="advantages">
  <div class="advantages-container">
    <h2 class="visually-hidden">Our Advantages</h2>
    <ul class="advantages-list list">
      <li class="advantages-item-1">
        <p class="advantages-title">721</h3>
        <p class="advantages-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item-2">
        <p class="advantages-title">16kg</p>
        <p class="advantages-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item-3">
        <p class="advantages-title">84</p>
        <p class="advantages-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
