<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>

    <div class="contacts-container">
      <div class="contacts-block">
        <p class="contacts-food">CAFE</p>

        <div>
          <ul class="contacts-city">
            <li><p class="contacts-text">Chicago</p></li>
            <li>
              <a
                class="contacts-map"
                href="https://goo.gl/maps/nJLw2xUusLvAfLVYA"
                target="_blank"
                rel=" nofollow noopener noreferrer"
                >10340 Ridgeland Ave,<br />
                Chicago Ridge, IL 60415, USA</a
              >
            </li>
          </ul>

          <div class="contacts-line"></div>

          <div>
            <ul class="contacts-time">
              <li>
                <p class="contacts-day">Monday - Friday</p>
                <p class="contacts-oclock">06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p class="contacts-day margin-day">Saturday - Sunday</p>
                <p class="contacts-oclock">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </div>

          <div class="contacts-line"></div>

          <ul class="address">
            <li>
              <a class="contacts-address" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a class="contacts-address" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="contacts-block">
        <p class="contacts-food">FOODTRUCK</p>

        <div>
          <ul class="contacts-city">
            <li><p class="contacts-text">Los Angeles</p></li>
            <li>
              <a
                class="contacts-map"
                href="https://goo.gl/maps/nJLw2xUusLvAfLVYA"
                target="_blank"
                rel=" nofollow noopener noreferrer"
                >1003 Manhattan Ave,<br />
                Manhattan Beach, CA 90263, USA</a
              >
            </li>
          </ul>

          <div class="contacts-line"></div>

          <div>
            <ul class="contacts-time">
              <li>
                <p class="contacts-day">Monday - Friday</p>
                <p class="contacts-oclock">06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p class="contacts-day margin-day">Saturday - Sunday</p>
                <p class="contacts-oclock">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </div>

          <div class="contacts-line"></div>

          <ul class="address">
            <li>
              <a class="contacts-address" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a class="contacts-address" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="contacts-block">
        <p class="contacts-food">CAFE</p>

        <div>
          <ul class="contacts-city">
            <li><p class="contacts-text">New York</p></li>
            <li>
              <a
                class="contacts-map"
                href="https://goo.gl/maps/nJLw2xUusLvAfLVYA"
                target="_blank"
                rel=" nofollow noopener noreferrer"
                >726 Sterling Pl, Brooklyn, NY <br />11222, USA</a
              >
            </li>
          </ul>

          <div class="contacts-line"></div>

          <div>
            <ul class="contacts-time">
              <li>
                <p class="contacts-day">Monday - Friday</p>
                <p class="contacts-oclock">06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p class="contacts-day margin-day">Saturday - Sunday</p>
                <p class="contacts-oclock">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </div>

          <div class="contacts-line"></div>

          <ul class="address">
            <li>
              <a class="contacts-address" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a class="contacts-address" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <button class="btn">
      Our Locations
      <svg class="btn-icon" width="5" height="10">
        <use href=".\images\images-sprite.svg#icon-button-arrow"></use>
      </svg>
    </button>

    <button class="btn inherit">
      Franchise
      <svg class="btn-icon" width="5" height="10">
        <use href=".\images\images-sprite.svg#icon-button-arrow"></use>
      </svg>
    </button>
  </div>
</section>
