<section class="contacts">
  <div class="container contacts-container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacs-list">
      <li class="contacs-list-item absolute-element">
        <p class="contacs-type">cafe</p>
        <div class="contacs-town-addres">
          <p class="contacs-text town">Chicago</p>
          <address class="contacs-text contacs-addres">
            10340 Ridgeland Ave, <br />
            Chicago Ridge, IL 60415, USA
          </address>
        </div>
        <ul class="contacs-days-time">
          <li class="contacts-days-item">
            <p class="contacs-text">Monday - Friday</p>
            <time class="contacs-time">06:00 AM - 10:00 PM</time>
          </li>
          <li class="contacts-days-item">
            <p class="contacs-text">Saturday - Sunday</p>
            <time class="contacs-time">08:00 AM - 16:00 PM</time>
          </li>
        </ul>
        <address>
          <a href="tel:610383766284" class="contacs-addres-link"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacs-addres-link"
            >noreply@envato.com</a
          >
        </address>
      </li>
      <li class="contacs-list-item">
        <p class="contacs-type">foodtruck</p>
        <div class="contacs-town-addres">
          <p class="contacs-text town">Los Angeles</p>
          <address class="contacs-text contacs-addres">
            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
          </address>
        </div>
        <ul class="contacs-days-time">
          <li>
            <p class="contacs-text">Monday - Friday</p>
            <time class="contacs-time">06:00 AM - 10:00 PM</time>
          </li>
          <li>
            <p class="contacs-text">Saturday - Sunday</p>
            <time class="contacs-time">08:00 AM - 16:00 PM</time>
          </li>
        </ul>
        <address>
          <a href="tel:+610383766284" class="contacs-addres-link"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacs-addres-link"
            >noreply@envato.com</a
          >
        </address>
      </li>
      <li class="contacs-list-item">
        <p class="contacs-type">cafe</p>
        <div class="contacs-town-addres">
          <p class="contacs-text town">New York</p>
          <address class="contacs-text contacs-addres">
            726 Sterling Pl, Brooklyn, NY 11222, USA
          </address>
        </div>
        <ul class="contacs-days-time">
          <li>
            <p class="contacs-text">Monday - Friday</p>
            <time class="contacs-time">06:00 AM - 10:00 PM</time>
          </li>
          <li>
            <p class="contacs-text">Saturday - Sunday</p>
            <time class="contacs-time">08:00 AM - 16:00 PM</time>
          </li>
        </ul>
        <address>
          <a href="tel:+610383766284" class="contacs-addres-link"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacs-addres-link"
            >noreply@envato.com</a
          >
        </address>
      </li>
    </ul>
    <ul class="contacs-buttons">
      <li class="contacs-buttons-item">
        <button class="contacs-button first-button">
          Our Locations
          <svg width="6" height="10">
            <use href="./images/images-sprite.svg#icon-button-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="contacs-buttons-item">
        <button class="contacs-button second-button">
          Franchise
          <svg width="6" height="10">
            <use href="./images/images-sprite.svg#icon-button-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
      </div>
    </div>

  <!-- Modal map -->
  <div class="contacts-modal modal" data-modal="contacts-location">
    <button type="button" class="modal-close js-modal-close">
      <svg width="12" height="12">
        <use href="./images/images-sprite.svg#icon-menu-close"></use>
      </svg>
    </button>
    <p class="contacts-title">Our Locations</p>

    <picture>
      <source
        media="(max-width:767px)"
        srcset="
          ./images/contacts-modal/mpsmall224x199@1x.jpg 1x,
          ./images/contacts-modal/mpsmall224x199@2x.jpg 2x
        "
        type="image/jpeg"
      />

      <source
        media="(min-width:768px)"
        srcset="
          ./images/contacts-modal/mpbg448x260@1x.jpg 1x,
          ./images/contacts-modal/mpbg448x260@1x.jpg 2x
        "
        type="image/jpeg"
      />

      <img
        class="contacts-map"
        src="./images/contacts-modal/mpbg448x260@1x.jpg"
        alt="map"
      />
    </picture>

    <a
      class="contacts-link-map"
      href="https://www.google.com.ua/maps/@50.5922444,30.5963509,5z?hl=ru"
      >Open map</a
    >
  </div>

  <!-- Modal applications -->

  <div class="applications-modal modal" data-modal="contacts-applications">
    <button type="button" class="modal-close js-modal-close">
      <svg class="applications-svg" width="12" height="12">
        <use href="./images/images-sprite.svg#icon-menu-close"></use>
      </svg>
    </button>
    <h2 class="applications-title">
      Thank you for your interest in owning an Ice Cream shop
    </h2>
    <p class="applications-text">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>
    <ul class="applications-form">
      <li class="applications-form-item">
        <input
          class="applications-form-input"
          type="text"
          name="user-name"
          placeholder="Name"
          required
          pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
          title="Username must be two words separated by space."
        />
        <!-- <label class="applications-form-label" for="name">Name</label> -->
      </li>
      <li class="applications-form-item">
        <input
          class="applications-form-input"
          type="tel"
          name="user-tel"
          placeholder="Phone"
          required
        />
        <!-- <label class="applications-form-label" for="tel">Phone</label> -->
      </li>
      <li class="applications-form-item">
        <input
          class="applications-form-input"
          type="email"
          name="user-mail"
          placeholder="Email"
          required
        />
        <!-- <label class="applications-form-label" for="mail">Email</label> -->
      </li>
      <li class="applications-form-item">
        <textarea
          class="applications-form-textarea"
          name="user-comment"
          placeholder="Comment"
        ></textarea>
        <!-- <label class="applications-form-label" for="comment">Comment</label> -->
      </li>
    </ul>
    <button class="applications-btn" type="submit">Submit</button>
  </div>
</section>
