<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>

    <div class="contacts-container">
      <div class="contacts-block">
        <p class="contacts-food">CAFE</p>

        <div>
          <ul class="contacts-city">
            <li><p class="contacts-text">Chicago</p></li>
            <li>
              <a
                class="contacts-maps"
                href="https://goo.gl/maps/nJLw2xUusLvAfLVYA"
                target="_blank"
                rel=" nofollow noopener noreferrer"
                >10340 Ridgeland Ave,<br />
                Chicago Ridge, IL 60415, USA</a
              >
            </li>
          </ul>

          <div class="contacts-line"></div>

          <div>
            <ul class="contacts-time">
              <li>
                <p class="contacts-day">Monday - Friday</p>
                <p class="contacts-oclock">06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p class="contacts-day contacts-margin-day">
                  Saturday - Sunday
                </p>
                <p class="contacts-oclock">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </div>

          <div class="contacts-line"></div>

          <ul class="address">
            <li>
              <a class="contacts-address" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a class="contacts-address" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="contacts-block">
        <p class="contacts-food">FOODTRUCK</p>

        <div>
          <ul class="contacts-city">
            <li><p class="contacts-text">Los Angeles</p></li>
            <li>
              <a
                class="contacts-maps"
                href="https://goo.gl/maps/nJLw2xUusLvAfLVYA"
                target="_blank"
                rel=" nofollow noopener noreferrer"
                >1003 Manhattan Ave,<br />
                Manhattan Beach, CA 90263, USA</a
              >
            </li>
          </ul>

          <div class="contacts-line"></div>

          <div>
            <ul class="contacts-time">
              <li>
                <p class="contacts-day">Monday - Friday</p>
                <p class="contacts-oclock">06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p class="contacts-day contacts-margin-day">
                  Saturday - Sunday
                </p>
                <p class="contacts-oclock">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </div>

          <div class="contacts-line"></div>

          <ul class="address">
            <li>
              <a class="contacts-address" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a class="contacts-address" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="contacts-block">
        <p class="contacts-food">CAFE</p>

        <div>
          <ul class="contacts-city">
            <li><p class="contacts-text">New York</p></li>
            <li>
              <a
                class="contacts-maps"
                href="https://goo.gl/maps/nJLw2xUusLvAfLVYA"
                target="_blank"
                rel=" nofollow noopener noreferrer"
                >726 Sterling Pl, Brooklyn, NY <br />11222, USA</a
              >
            </li>
          </ul>

          <div class="contacts-line"></div>

          <div>
            <ul class="contacts-time">
              <li>
                <p class="contacts-day">Monday - Friday</p>
                <p class="contacts-oclock">06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p class="contacts-day contacts-margin-day">
                  Saturday - Sunday
                </p>
                <p class="contacts-oclock">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </div>

          <div class="contacts-line"></div>

          <ul class="address">
            <li>
              <a class="contacts-address" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a class="contacts-address" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <button
      class="contacts-btn js-open-modal"
      type="button"
      data-modal="contacts-location"
    >
      Our Locations
      <svg class="btn-icon" width="5" height="10">
        <use href=".\images\images-sprite.svg#icon-button-arrow"></use>
      </svg>
    </button>

    <button
      class="contacts-btn js-open-modal inherit"
      type="button"
      data-modal="contacts-applications"
    >
      Franchise
      <svg class="btn-icon" width="5" height="10">
        <use href=".\images\images-sprite.svg#icon-button-arrow"></use>
      </svg>
    </button>
  </div>

  <!-- Modal map -->
  <div class="contacts-modal modal" data-modal="contacts-location">
    <button type="button" class="modal-close js-modal-close">
      <svg width="12" height="12">
        <use href="./images/images-sprite.svg#icon-menu-close"></use>
      </svg>
    </button>
    <p class="contacts-title">Our Locations</p>

    <picture>
      <source
        @media="(max-width:767px)"
        srcset="
          ./images/contacts-modal/mpsmall224x199@1x.jpg 1x,
          ./images/contacts-modal/mpsmall224x199@2x.jpg 2x
        "
        type="image/jpeg"
      />

      <source
        media="(min-width:768px)"
        srcset="
          ./images/contacts-modal/mpbg448x260@1x.jpg 1x,
          ./images/contacts-modal/mpbg448x260@1x.jpg 2x
        "
        type="image/jpeg"
      />

      <img
        class="contacts-map"
        src="./images/contacts-modal/mpbg448x260@1x.jpg"
        alt="map"
      />
    </picture>

    <a
      class="contacts-link-map"
      href="https://www.google.com.ua/maps/@50.5922444,30.5963509,5z?hl=ru"
      >Open map</a
    >
  </div>

  <!-- Modal applications -->

  <div class="applications-modal modal" data-modal="contacts-applications">
    <button type="button" class="modal-close js-modal-close">
      <svg class="applications-svg" width="12" height="12">
        <use href="./images/images-sprite.svg#icon-menu-close"></use>
      </svg>
    </button>
    <h2 class="applications-title">
      Thank you for your interest in owning an Ice Cream shop
    </h2>
    <p class="applications-text">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>
    <ul class="applications-form">
      <li class="applications-form-item">
        <input
          class="applications-form-input"
          type="text"
          name="user-name"
          placeholder="Name"
          required
          pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
          title="Username must be two words separated by space."
        />
        <!-- <label class="applications-form-label" for="name">Name</label> -->
      </li>
      <li class="applications-form-item">
        <input
          class="applications-form-input"
          type="tel"
          name="user-tel"
          placeholder="Phone"
          required
          min="1"
          max="13"
        />
        <!-- <label class="applications-form-label" for="tel">Phone</label> -->
      </li>
      <li class="applications-form-item">
        <input
          class="applications-form-input"
          type="email"
          name="user-mail"
          placeholder="Email"
          required
        />
        <!-- <label class="applications-form-label" for="mail">Email</label> -->
      </li>
      <li class="applications-form-item">
        <textarea
          class="applications-form-textarea"
          name="user-comment"
          placeholder="Comment"
        ></textarea>
        <!-- <label class="applications-form-label" for="comment">Comment</label> -->
      </li>
    </ul>
    <button class="applications-btn" type="submit">Submit</button>
  </div>
</section>
