<section>
    <div>
        <picture>
            <img src="./images/customer-reviews/brooke-lark.jpg" alt="" sizes="" >
            <img src="./images/customer-reviews/pexels-elias.jpg" alt="">
        </picture>
        <p>
            I love visiting your cafe.
            You prepare the most delicious ice cream in Los Angeles! 
           In addition, you have beautiful serving, cozy atmosphere and polite staff.
        </p>
          
        <h3>
            Emily, Los Angeles
        </h3>
        <button></button>
        <button></button>
        <button></button>
    </div>
</section>