<section class="customer">
    <div class="container">
        <h2 class="visually-hidden">Відгуки</h2>


        <div class="banner" data-height="600" data-width="100%" data-slide-speed="900">
            <div class="slider">
                <img src="./images/customer-reviews/pexels-elias@2x.png" class="client_photo slider">
                <p class="customer_text slider">
                    I love visiting your cafe.
                    You prepare the most delicious ice cream in Los Angeles!
                    In addition, you have beautiful serving, cozy atmosphere and polite staff.
                </p>
                <p class="customer_client">
                    Emily, Los Angeles
                </p>
            </div>
            <div class="slider">
                <img src="./images/customer-reviews/pexels-nappy@2x.png" class="client_photo slider">
                <p class="customer_text slider">
                    Every day we come to you with friends after classes in college. We love your ice cream and casual
                    atmosphere!
                </p>
                <p class="customer_client slider">
                    Bryan, New-York
                </p>
            </div>
            <div class="slider">
                <img src="./images/customer-reviews/pexels-edu@2x.png" class="client_photo slider">
                <p class="customer_text slider">
                    Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent
                    service - always served politely and quickly!
                </p>
                <p class="customer_client slider">
                    Diana, Chicago
                </p>
            </div>

            <!--<img src="./images/customer-reviews/pexels-elias@2x.png" class="slider">
            <img src="./images/customer-reviews/pexels-elias@2x.png" class="slider">-->

            <div class="previous" data-previous-cursor="left.png"></div>
            <div class="next" data-next-cursor="right.png"></div>

            <div class="links">
                <a href="1"></a>
                <a href="2"></a>
                <a href="3"></a>
            </div>
        </div>
    </div>
    <!--<div class="customer_btn">
            <button class="btn">
                <svg class="icon social__icon icon--grey" width="12" height="12">
                    <use href="./images/images-sprite.svg#icon-menu-close"></use>
                </svg>
            </button>
            <button class="btn">
                <svg class="icon social__icon icon--grey" width="12" height="12">
                    <use href="./images/images-sprite.svg#icon-menu-close"></use>
                </svg>
            </button>
            <button class="btn">
                <svg class="icon social__icon icon--grey" width="12" height="12">
                    <use href="./images/images-sprite.svg#icon-menu-close"></use>
                </svg>
            </button>
        </div>-->
        
</section>
