<section class="customer">

    <h2 class="visually-hidden">Customer-reviews</h2>

    <div class="content">
        <div class="slider customer_slider">
            <div>
                <img src="./images/customer-reviews/pexels-elias@2x.png" class="customer_client-photo">
                <p class="customer_text ">
                    I love visiting your cafe.
                    You prepare the most delicious ice cream in Los Angeles!
                    In addition, you have beautiful serving, cozy atmosphere and polite staff.
                </p>
                <p class="customer_client">
                    Emily, Los Angeles
                </p>
            </div>
           
            <div>
                <img src="./images/customer-reviews/pexels-nappy@2x.png" class="customer_client-photo">
                <p class="customer_text">
                    Every day we come to you with friends after classes in college. We love your ice cream and
                    casual
                    atmosphere!
                </p>
                <p class="customer_client">
                    Bryan, New-York
                </p>
            </div>
            <div>
                <img src="./images/customer-reviews/pexels-edu@2x.png" class="customer_client-photo">
                <p class="customer_text">
                    Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the
                    excellent
                    service - always served politely and quickly!
                </p>
                <p class="customer_client">
                    Diana, Chicago
                </p>
            </div>
        </div>
    </div>




</section>