<footer class="footer-section">
<div class="container footer-block">
    <div class="footer-container-wrapper">
    <div class="footer-name">
    <p class="footer-doubletitel">homemade ice cream made</p>
    <p class="footer-doubletext">with passion</p>
</div>
<div class="footer-contacts">
    <ul class="footer-socials-list list">
        <li class="footer-socials-item">
            <a class="footer-socials-link" href="https://github.com/" 
            target="_blank"
            rel="noopener noreferrer nofollow" aria-label="github">
                <svg class="footer-socials-icon" width="34" height="34">
                    <use href="./images/images-sprite.svg#icon-github"></use>
                </svg>
            </a>
        </li>
        <li class="footer-socials-item">
            <a class="footer-socials-link" href="https://web.telegram.org/k/"
            target="_blank"
            rel="noopener noreferrer nofollow" aria-label="telegram">
                <svg class="footer-socials-icon" width="34" height="34">
                    <use href="./images/images-sprite.svg#icon-telegram"></use>
                </svg>
            </a>
        </li>
        <li class="footer-socials-item">
            <a class="footer-socials-link" href="https://uk-ua.facebook.com/"
            target="_blank"
            rel="noopener noreferrer nofollow" aria-label="facebook">
                <svg class="footer-socials-icon" width="34" height="34">
                    <use href="./images/images-sprite.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
    </ul>
    <div class="footer-call">
    <p class="tel-first-part">Feel free to contact</p>
    <a href="tel:+610383766284" class="footer-tel">+61 (0) 383 766 284</a>
</div>
</div>
</div>
<hr class="footer-line">
<p class="footer-text">&#169 2022 - IceCream. All Rights Reserved. </p>
</div>
</footer>