<section class="gallery">
  <div class="gallery-box container">
    <h2 class="visually-hidden">Gallery</h2>
     <div class="slider-gallary">
<div class="slider-item">
     <picture>
        <!-- desktop -->
        <source  media="(min-width: 1200px)" srcset="
                        ./images/gallery/gallery-first-1x-l.webp 1x,
                        ./images/gallery/gallery-first-2x-l.webp 2x
                      " type="image/webp" />
        <source  media="(min-width: 1200px)" srcset="
                        ./images/gallery/gallery-first-1x-l.png 1x,
                        ./images/gallery/gallery-first-2x-l.png 2x
                      " />
        <!-- tablet -->
        <source  media="(min-width: 768px)" srcset="
                        ./images/gallery/gallery-first-1x-m.webp 1x,
                        ./images/gallery/gallery-first-2x-m.webp 2x
                      " type="image/webp" />
        <source  media="(min-width: 768px)" srcset="
                        ./images/gallery/gallery-first-1x-m.png 1x,
                        ./images/gallery/gallery-first-2x-m.png 2x
                      " />
        <!-- mobile -->
        <source  media="(max-width: 767px)" srcset="
                        ./images/gallery/gallery-first-1x-s.webp 1x,
                        ./images/gallery/gallery-first-2x-s.webp 2x
                      " type="image/webp" />
        <source  media="(max-width: 767px)" srcset="
                        ./images/gallery/gallery-first-1x-s.png 1x,
                        ./images/gallery/gallery-first-2x-s.png 2x
                      " />
        <!-- default -->
        <img alt="ice cream" src="./images/gallery/gallery-first-1x-s.png" loading="lazy" />
    </picture>
  </div>
<div class="slider-item">
    <picture>
      <source  srcset="
                              ./images/gallery/gallery-second-1x.webp 1x,
                              ./images/gallery/gallery-second-2x.webp 2x
                            " type="image/webp" />
      <source srcset="
                              ./images/gallery/gallery-second-1x.png 1x,
                              ./images/gallery/gallery-second-2x.png 2x
                            " />
                            <img alt="ice cream second" src="./images/gallery/gallery-second-1x.png" loading="lazy" />
    </picture>
</div>
    <div class="slider-item">
    <picture>
      <source srcset="
                                  ./images/gallery/gallery-third-1x.webp 1x,
                                  ./images/gallery/gallery-third-2x.webp 2x
                                " type="image/webp" />
      <source srcset="
                                  ./images/gallery/gallery-third-1x.png 1x,
                                  ./images/gallery/gallery-third-2x.png 2x
                                " />
                                <img alt="ice cream third" src="./images/gallery/gallery-third-1x.png" loading="lazy" />
    </picture>
    </div>
    </div>   
    </div>
</section>