<header class="header">
  <div class="container">
    <img class="logo" src="./images/header/logo.png" alt="" />

    <nav class="site-nav">
      <ul class="site-nav-list">
        <li class="site-nav-list-item">Home</li>
        <li class="site-nav-list-item">How it’s made?</li>
        <li class="site-nav-list-item">Our products</li>
        <li class="site-nav-list-item">Contact</li>
      </ul>
    </nav>

    <button
      type="button"
      class="mobile-menu-button js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg width="32" height="32">
        <use href="./images/images-sprite.svg#icon-menu-button"></use>
      </svg>
    </button>

    <button type="button" class="header-button">Buy now &#62;</button>

    <div class="mobile-menu js-menu-container" id="mobile-menu">
      <button class="mobile-menu-close js-close-menu">
        <svg width="32" height="32">
          <use href="./images/images-sprite.svg#icon-menu-close"></use>
        </svg>
      </button>

      <nav class="mobile-menu-site-nav">
        <ul class="mobile-menu-site-nav-list">
          <li class="mobile-menu-item">Home</li>
          <li class="mobile-menu-item">How it’s made?</li>
          <li class="mobile-menu-item">Our products</li>
          <li class="mobile-menu-item">Contact</li>
        </ul>
      </nav>
      <button type="button" class="mobile-header-button">Buy now &#62;</button>
    </div>
  </div>
</header>
