<header class="header">
  <div class="container">
    <img
      class="logo"
      srcset="
        ./images/header/logo.png         40w,
        ./images/header/logo@2x.png      80w,
        ./images/header/logoTabl.png     48w,
        ./images/header/logoTabl@2x.png  96w,
        ./images/header/logoDesk.png     60w,
        ./images/header/logoDesk@2x.png 130w
      "
      sizes="(min-width:1200px) 65px, (min-width:768px) 48px, 40px"
      src="./images/header/logo.png"
      alt="ice-cream"
    />

    <nav class="site-nav">
      <ul class="site-nav-list">
        <li class="site-nav-list-item">
          <a href="" class="site-nav-list-link">Home</a>
        </li>
        <li class="site-nav-list-item">
          <a href="" class="site-nav-list-link">How it’s made?</a>
        </li>
        <li class="site-nav-list-item">
          <a href="" class="site-nav-list-link">Our products</a>
        </li>
        <li class="site-nav-list-item">
          <a href="" class="site-nav-list-link">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="buttons">
      <button
        type="button"
        class="mobile-menu-button js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg width="32" height="32">
          <use href="./images/images-sprite.svg#icon-menu-button"></use>
        </svg>
      </button>

      <button type="button" class="header-button js-open-modal" data-modal="1">
        Buy now
        <svg width="6" height="10">
          <use href="./images/images-sprite.svg#icon-button-arrow"></use>
        </svg>
      </button>
    </div>

    <div class="mobile-menu js-menu-container" id="mobile-menu">
      <div class="menu">
        <img
          src="./images/header/logo.png"
          alt="ice-cream"
          class="mobile-menu-logo"
        />

        <button class="mobile-menu-close js-close-menu">
          <svg width="32" height="32">
            <use href="./images/images-sprite.svg#icon-menu-close"></use>
          </svg>
        </button>
      </div>

      <nav class="mobile-menu-site-nav">
        <ul class="mobile-menu-site-nav-list">
          <li class="mobile-menu-item">
            <a href="" class="mobile-menu-link">Home</a>
          </li>
          <li class="mobile-menu-item">
            <a href="" class="mobile-menu-link">How it’s made?</a>
          </li>
          <li class="mobile-menu-item">
            <a href="" class="mobile-menu-link">Our products</a>
          </li>
          <li class="mobile-menu-item">
            <a href="" class="mobile-menu-link">Contact</a>
          </li>
        </ul>
      </nav>
      <button
        type="button"
        class="mobile-header-button js-open-modal"
        data-modal="1"
      >
        Buy now
        <svg width="6" height="10">
          <use href="./images/images-sprite.svg#icon-button-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</header>

<div class="buy-modal modal" data-modal="1">
  <button type="button" class="buy-modal-close js-modal-close">
    <svg width="12" height="12">
      <use href="./images/images-sprite.svg#icon-menu-close"></use>
    </svg>
  </button>

  <p class="buy-modal-title">Buy now</p>

  <form class="buy-modal-form">
    <label class="buy-modal-checkbox">
      <input
        type="checkbox"
        name="
      choice"
        value="ice cream"
        class="buy-modal-checkbox-none"
      />
      <span class="custom-box custom-box-green">ice cream</span>
    </label>
    <label class="buy-modal-checkbox">
      <input
        type="checkbox"
        name="
      choice"
        value="ice coffee"
        class="buy-modal-checkbox-none"
        checked
      />
      <span class="custom-box custom-box-yellow">ice coffee</span>
    </label>
    <label class="buy-modal-checkbox">
      <input
        type="checkbox"
        name="
      choice"
        value="milkshake"
        class="buy-modal-checkbox-none"
      />
      <span class="custom-box custom-box-red">milkshake</span>
    </label>
    <label class="buy-modal-field">
      <input
        type="text"
        name="name"
        class="modal-form-input"
        placeholder="Name"
      />
    </label>
    <label class="buy-modal-field">
      <input
        type="tel"
        name="telefone"
        class="modal-form-input"
        placeholder="Phone"
      />
    </label>
    <label>
      <textarea
        name="feedback"
        rows="4"
        placeholder="Comment"
        class="modal-form-coment"
      ></textarea>
    </label>
    <button type="submit" class="buy-modal-button">Submit</button>
  </form>
</div>
