<section class="hero">
  <div class="hero-container container">
    <div class="hero-name">
      <h1 class="hero-title">ice cream made with passion</h1>
      <ul class="hero-list">
        <li class="hero-item">16</li>
        <p class="hero-item-text">cafes</p>
        <li class="hero-item">23</li>
        <p class="hero-item-text">food trucks</p>
      </ul>
    </div>
    <div class="hero-products">
      <button class="hero-btn">Products</button>
      <a class="hero-link" href="How it’s made?">How it’s made?</a>
    </div>
    <div class="hero-picture">
      <picture>
        <source
          media="(min-width:768px; )"
          srcset="
            ./images/hero/plate1lg-min.png    1x,
            ./images/hero/plate1@2xlg-min.png 2x
          "
        />

        <img
          class="hero-img"
          srcset="./images/hero/plate1lg-min.png"
          alt="plate ice-cream"
        />
      </picture>
      <p class="hero-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
    </div>
      <svg class="hero-icon" width="40" height="16">
        <use href="./images/images-sprite.svg#icon-white-arrow"></use>
      </svg>
   
  </div>
</section>
