<section class="products" id="products">
  <div class="container">
    <p class="products-subtitle">100% natural</p>
    <h2 class="products-title"">products</h2>

    <ul class="products-list">
      <li class="products-item ice-cream">
        <div class="products-card">
            <h3 class="products-item-title">ice cream</h3>
            <p class="products-item-text">
              Soft ice cream with a delicate taste. Made with milk, cream, sugar
              and natural stabilizer
            </p>
            </div>
            <svg class="products-item-icon" width="40" height="16">
              <use href="./images/images-sprite.svg#icon-black-arrow"></use>
            </svg>
      </li>

      <li class="products-item ice-coffee">
        <div class="products-card">
            <h3 class="products-item-title">ice coffee</h3>
            <p class="products-item-text">
              Fragrant invigorating drink created from 100% natural ingredients
              without the use of preservatives and flavor enhancers
            </p>
        </div>
            <svg class="products-item-icon" width="40" height="16">
              <use href="./images/images-sprite.svg#icon-black-arrow"></use>
            </svg>
      </li>

      <li class="products-item milkshakes">
        <div class="products-card">
            <h3 class="products-item-title">milkshakes</h3>
            <p class="products-item-text">
              Sweet drinks based on milk and ice cream, supplemented with
              syrups, fruits, berries and other sweets of your choice
            </p>
            </div>
            <svg class="products-item-icon" width="40" height="16">
              <use href="./images/images-sprite.svg#icon-black-arrow"></use>
            </svg>
      </li>
    </ul>
  </div>
</section>
