<section class="products">
    <div class="container">
    <p class="products-label">100% natural</p>
    <h2 class="products-title" id="products">products</h2>
        <ul class="products-cardset">
            <li class="products-cardset-item">
                <article class="products-card">
                    <div class="products-card-thumb">
                        <img src="#" alt="ice cream">
                    </div>

<div class="products-card-content">
<h3 class="products-card-subtitle">ice cream</h3>
<p class="products-card-text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
</p>
<svg class="products-card-icon" width="40" height="16">
<use href="./images/images-sprite.svg#icon-black-arrow"></use>
</svg>

</div>
</article>
            </li>
            <li class="products-cardset-item">
                <article class="products-card">
                    <div class="products-card-thumb">
                        <img src="#" alt="ice coffee">
                    </div>

<div class="products-card-content">
<h3 class="products-card-subtitle">ice coffee</h3>
<p class="products-card-text">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers
</p>
<svg class="products-card-icon" width="40" height="16">
    <use href="./images/images-sprite.svg#icon-black-arrow"></use>
</svg>
</div>
    </article>
            </li>
            <li class="products-cardset-item">
                <article class="products-card">
                    <div class="products-card-thumb">
                        <img src="#" alt="milkshake">
                    </div>

<div class="products-card-content">
<h3 class="products-card-subtitle">milkshakes</h3>
<p class="products-card-text">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice
</p>
<svg class="products-card-icon" width="40" height="16">
    <use href="./images/images-sprite.svg#icon-black-arrow"></use>
</svg>
</div>
</article>
            </li>
        </ul>
</div>
</section>