.contacts{
  padding-bottom: 60px;
  background-color: $mainBgColor;
  @media screen and (max-width: 767px) {
    margin-top: 393px;
  }
}

ul.contacs-list{
  position: relative;
  padding-bottom: 20px;
  padding-top: 69px;
}

.absolute-element{
  @media screen and (max-width: 767px) {
    position: absolute;
    top: -353;
  }
}

.contacs-list-item{
  width: 280px;
  padding: 40px 32px 24px;
  background-color: $secondaryBgColor;
  border-radius: 24px;
  &:not(:last-child){
    margin-bottom: 16px;
  }
}

.contacs-type{
  display: inline-block;
  border-radius: 4px;
  padding: 4px 22px;
  margin-bottom: 20px;
  background-color: $accentTextColor;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.contacs-town-addres,
ul.contacs-days-time{
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid $footerBorder;
}

.town{
  margin-bottom: 8px;
}

.contacs-text{
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.04em;
}

.contacs-addres{
  line-height: 183%;
  color: $milkshakesBgColor;
}

.contacs-time{
  font-weight: 500;
  line-height: 186%;
  color: #ABABAB;
}

.contacs-addres-link{
  @extend %link;
  font-weight: 500;
  line-height: 160%;
  color: $darkTextColor;
}

.contacs-buttons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contacs-buttons-item{
  @media screen and (max-width:767px) {
    &:not(:last-child){
      margin-bottom: 16px;
    }
  }
}

.contacs-button{
  @extend %button;
  padding: 12px auto;
  width: 196px;
  color: $buttonTextColor;
  fill: $buttonTextColor;
  transition: background-color $transition, 
  border-color $transition, 
  color $transition,
  fill $transition;
  &:hover{
      border-color: $hoverFocusBtnBgColor;
  }
  &:focus{
      border-color: $hoverFocusBtnBgColor;
      color: #ffffff;
      fill: #ffffff;
  }
}

.first-button{
  background-color: $defaultBtnBgColor;
  &:hover{
    background-color: $hoverFocusBtnBgColor;
  }
  &:focus{
    background-color: $hoverFocusBtnBgColor;
  }
}

.second-button{
  background-color: $mainBgColor;
}