// BORDER //

.contacts-line {
  margin: 24px 0;
  width: 216px;
  border-bottom: 1px solid #e1e1e1;
}

// SECTION //

.contacts {
  padding-top: 40px;
  background-image: linear-gradient(
    to top,
    $mainBgColor 75%,
    rgba(0, 0, 0, 0) 25%
  );

  @media screen and (min-width: 768px) {
    margin-top: 80px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 100px;
  }
}

.contacts-container {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

// PART SECTION //

.contacts-block {
  width: 280px;
  height: 412px;
  margin: auto;
  margin-bottom: 16px;
  padding-left: 32px;
  background: $lightTextColor;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (min-width: 768px) {
    width: 224px;
    height: 537px;
  }

  &:last-of-type {
    margin-bottom: 20px;
  }
}

// CITY //

.contacts-food {
  display: inline-block;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  padding: 4px 22px;
  border-radius: 4px;

  font-family: $mainFont;
  font-weight: 500;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;

  background-color: $accentTextColor;
}

.contacts-text {
  font-weight: 500;
  line-height: calc(22 / 12);
  letter-spacing: 0.04em;
  margin-top: 20px;
}

.contacts-maps {
  @extend %link;
  font-weight: 500;
  line-height: calc(22 / 12);
  letter-spacing: 0.04em;
  margin-top: 8px;

  color: $milkshakesBgColor;
}

// ROUTE //

.contacts-day {
  font-weight: 500;
  line-height: calc(22 / 12);
}

.contacts-margin-day {
  margin-top: 8px;
}

.contacts-oclock {
  font-weight: 500;
  line-height: calc(22 / 12);

  color: #ababab;
}

// ADDRESS //

.contacts-address {
  @extend %link;
  font-weight: 500;
  line-height: calc(19 / 12);

  color: $darkTextColor;
}

// BUTTON //

.contacts-btns {
  display: block;
  text-align: center;
}

.contacts-btn {
  @extend %button;
  background-color: $accentTextColor;
  width: 196px;
  margin: 0 42px;
  $transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    color: #ffffff;
    background-color: $hoverFocusBtnBgColor;
    $transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 2px solid #0a8817;
  }

  &:hover {
    border-color: $hoverFocusBtnBgColor;
    background-color: $hoverFocusBtnBgColor;
    $transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 2px solid #0a8817;
  }

  &:last-child {
    margin-top: 16px;
  }
}

.inherit {
  @extend %button;
  background-color: transparent;

  &:focus {
    color: #ffffff;
    background-color: transparent;
    $transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 2px solid #0a8817;
  }

  &:hover {
    border-color: $hoverFocusBtnBgColor;
    background-color: transparent;
    $transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 2px solid #0a8817;
  }
}

.btn-icon {
  margin-left: 7px;
  fill: $buttonTextColor;
  $transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-btn:focus .btn-icon {
  fill: #ffffff;
  $transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// Modal Location //

.contacts-modal {
  width: 284px;
  height: 369px;

  @media screen and (min-width: 768px) {
    width: 568px;
    height: 458px;
  }
}

.contacts-title {
  font-family: $titleFont;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  margin-bottom: 20px;

  align-items: center;
  text-align: center;

  color: $darkTextColor;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: calc(28 / 20);
    margin-bottom: 32px;
  }
}

.contacts-map {
  width: 224px;
  height: 199px;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    width: 448px;
    height: 260px;
  }
}

.contacts-link-map {
  @extend %link;
  display: inline-block;
  background-color: #f8d24e;
  border-radius: 10px;
  padding: 12px 34px;
  border-color: transparent;

  font-family: $mainFont;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: $darkTextColor;
}

// Modal applications //

.applications-modal {
  padding-left: 28px;
  width: 284px;
  height: 678px;
}

.modal-close {
  fill: #131313;
  height: 41px;
  background-color: #fcfcfc;
  border: none;
  padding: 0;
  position: absolute;
  top: 2px;
  right: 15px;
}

.applications-title {
  width: 221px;
  font-family: $titleFont;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);

  align-items: center;
  text-align: center;

  color: $darkTextColor;
}

.applications-text {
  width: 222px;
  font-family: $mainFont;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(20 / 14);

  align-items: center;
  text-align: left;
  margin-top: 20px;

  color: $darkTextColor;
}

.applications-form {
  margin: 0 24px;
}

.applications-form-item {
  position: relative;
  &:first-child {
    margin-top: 24px;
  }

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.applications-form-input {
  width: 224px;
  height: 32px;
  background: $formInputBgColor;
  border: 1px solid $mainBgColor;
  border-radius: 10px;
  padding: 8px 12px;
}

.applications-form-textarea {
  width: 224px;
  height: 64px;
  background: $formInputBgColor;
  border: 1px solid $mainBgColor;
  border-radius: 10px;
  padding: 8px 12px;
}

.applications-btn {
  text-align: center;
  align-items: center;
  background-color: $accentTextColor;
  border-radius: 10px;
  padding: 12px 34px;
  margin: 0 55px;
  margin-top: 24px;
  border-color: transparent;

  font-family: $mainFont;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: $darkTextColor;
}

// Modal close //

.modal-close {
  fill: #131313;
  height: 41px;
  background-color: #fcfcfc;
  border: none;
  padding: 0;
  position: absolute;
  top: 2px;
  right: 15px;
}
