.contacts {
  padding-bottom: 60px;
  // background-color: $mainBgColor;

  background-image: linear-gradient(to bottom, transparent 25%, $mainBgColor 25%);

  @media screen and (min-width:768px) {
      background-image: linear-gradient(to bottom, transparent 45%, $mainBgColor 45%);
    }
  
    @media screen and (min-width:1200px) {
      background-image: linear-gradient(to bottom, transparent 20%, $mainBgColor 20%);
    }
}

ul.contacs-list {
  position: relative;
  padding-bottom: 20px;

  @media screen and (min-width:768px) {
    display: flex;
    gap: 16px;
    padding-bottom: 40px;
  }

    @media screen and (min-width:1200px) {
      gap: 32px;
      padding-bottom: 60px;
    }
}

.contacs-list-item {
  width: 280px;
  padding: 40px 32px 24px;
  background-color: $secondaryBgColor;
  border-radius: 24px;

  &:not(:last-child) {
    margin-bottom: 16px;

    @media screen and (min-width:768px) {
        margin-bottom: 0;
      }
  }

    @media screen and (min-width:768px) {
      flex-basis: calc((100% - 32px) / 3);
      padding: 40px 24px;
    }
    
        @media screen and (min-width:1200px) {
        flex-basis: calc((100% - 64px) / 3);
        padding: 40px;
        }
}

.contacs-type {
  display: inline-block;
  border-radius: 4px;
  padding: 4px 22px;
  margin-bottom: 20px;
  background-color: $accentTextColor;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  
  @media screen and (min-width:768px) {
      font-size: 16px;
      margin-bottom: 32px;

}
}


  .contacs-town-addres,
  ul.contacs-days-time {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid $footerBorder;

    @media screen and (min-width:768px) {
        padding-bottom: 32px;
        margin-bottom: 32px;
      }
  }

.contacts-days-item:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width:1200px) {
      margin-bottom: 12px;
    }
}

  .town {
    margin-bottom: 8px;
    
    @media screen and (min-width:768px) {
        margin-bottom: 12px;
      }
    
      @media screen and (min-width:1200px) {
       margin-bottom: 8px;
      }

  }

  .contacs-text {
    font-weight: 500;
    line-height: 186%;
    letter-spacing: 0.04em;
  

    @media screen and (min-width:768px) {
        font-size: 14px;
  }

    @media screen and (min-width:1200px) {
      font-size: 16px;
    }
}

  .contacs-addres {
    line-height: 183%;
    color: $milkshakesBgColor;
    @media screen and (min-width:768px) {
        font-size: 14px;
      }
    
      @media screen and (min-width:1200px) {
        font-size: 16px;
      }

  }

  .contacs-time {
    font-weight: 500;
    line-height: 186%;
    color: #ABABAB;

      @media screen and (min-width:768px) {
          font-size: 14px;
        }
      
        @media screen and (min-width:1200px) {
          font-size: 16px;
        }

        &:not(:last-child) {
          margin-bottom: 6px;

          @media screen and (min-width:768px) {
              margin-bottom: 4px;
            }
        }

  }

  .contacs-addres-link {
    @extend %link;
    display: block;
    font-weight: 500;
    line-height: 160%;
    color: $darkTextColor;

    &:not(:last-child) {
        margin-bottom: 8px;
        }
      @media screen and (min-width:768px) {
          font-size: 14px;

          &:not(:last-child) {
              margin-bottom: 4px;
            }
        }
      
        @media screen and (min-width:1200px) {
          font-size: 16px;
        }

  }

  .contacs-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contacs-buttons-item {
    @media screen and (max-width:767px) {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
        @media screen and (min-width: 768px) {
          &:not(:last-child) {
            margin-right: 16px;
          }
        }
  }

  .contacs-button {
    @extend %button;
    padding: 12px auto;
    width: 196px;
    color: $buttonTextColor;
    fill: $buttonTextColor;
    transition: background-color $transition,
      border-color $transition,
      color $transition,
      fill $transition;

    &:hover {
      border-color: $hoverFocusBtnBgColor;
    }

    &:focus {
      border-color: $hoverFocusBtnBgColor;
      color: #ffffff;
      fill: #ffffff;
    }
  }

    .first-button {
      background-color: $defaultBtnBgColor;
  
      &:hover {
        background-color: $hoverFocusBtnBgColor;
      }
  
      &:focus {
        background-color: $hoverFocusBtnBgColor;
      }
    }
  
    .second-button {
      background-color: $mainBgColor;
    }

// Modal Location //

.contacts-modal {
  width: 284px;
  height: 369px;

  @media screen and (min-width: 768px) {
    width: 568px;
    height: 458px;
  }
}

.contacts-title {
  font-family: $titleFont;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  margin-bottom: 20px;

  align-items: center;
  text-align: center;

  color: $darkTextColor;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: calc(28 / 20);
    margin-bottom: 32px;
  }
}

.contacts-map {
  width: 224px;
  height: 199px;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    width: 448px;
    height: 260px;
  }
}

.contacts-link-map {
  @extend %link;
  display: inline-block;
  background-color: #f8d24e;
  border-radius: 10px;
  padding: 12px 34px;
  border-color: transparent;

  font-family: $mainFont;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: $darkTextColor;
}

// Modal applications //

.applications-modal {
  padding-left: 28px;
  width: 284px;
  height: 678px;

  @media screen and (min-width: 768px) {
    width: 568px;
    height: 698px;

    // padding: 32px 60px;
  
  }
}

.modal-close {
  fill: #131313;
  height: 41px;
  background-color: #fcfcfc;
  border: none;
  padding: 0;
  position: absolute;
  top: 2px;
  right: 15px;
}

.applications-title {
  width: 221px;
  font-family: $titleFont;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);

  align-items: center;
  text-align: center;

  color: $darkTextColor;

  @media screen and (min-width: 768px) {
margin: 0 auto;
font-size: 20px;
line-height: 140%;
  
  }
}

.applications-text {
  // width: 222px;
  font-family: $mainFont;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(20 / 14);

  align-items: center;
  text-align: left;
  margin-top: 20px;

  color: $darkTextColor;

  @media screen and (min-width: 768px) {
    text-align: start;
    // width: 440px;

    margin-top: 24px;
    

    font-size: 16px;
    line-height: 140%;
      }
}

.applications-form {
  margin: 0 24px;
  @media screen and (min-width: 768px) {
  
    margin: 0 32px;
      }

}

.applications-form-item {
  position: relative;
  &:first-child {
    margin-top: 24px;
    @media screen and (min-width: 768px) {
  
      margin-top: 32px;
        }
  }

  &:not(:last-child) {
    margin-bottom: 12px;
  
  }
}

.applications-form-input {
  width: 224px;
  height: 32px;
  background: $formInputBgColor;
  border: 1px solid $mainBgColor;
  border-radius: 10px;
  padding: 8px 12px;

  @media screen and (min-width: 768px) {
  
    width: 368px;
  height: 42px;  }
}

.applications-form-textarea {
  width: 224px;
  height: 64px;
  background: $formInputBgColor;
  border: 1px solid $mainBgColor;
  border-radius: 10px;
  padding: 8px 12px;
  @media screen and (min-width: 768px) {
  
    width: 368px;
    height: 84px;
    }
}

.applications-btn {
  text-align: center;
  align-items: center;
  background-color: $accentTextColor;
  border-radius: 10px;
  padding: 12px 34px;
  margin: 0 55px;
  margin-top: 24px;
  border-color: transparent;

  font-family: $mainFont;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: $darkTextColor;

  @media screen and (min-width: 768px) {
  
    margin-top: 32px;
      }
}

// Modal close //

.modal-close {fill: #131313;
  height: 41px;
  background-color: #fcfcfc;
  border: none;
  padding: 0;
  position: absolute;
  top: 2px;
  right: 15px;
}
