 .customer {
   width: 100%;
 }

 .customer_client-photo {
   margin: auto;
   align-items: center;
   justify-content: center;
   text-align: center;
   width: 85px;
   height: 85px;
   margin-bottom: 32px;
   border-radius: 50%;

 }

 .customer_text {
   display: block;
   text-align: center;
   align-content: center;
   font-size: 12px;
   font-weight: 400;
   line-height: 2.58;

   justify-content: center;
   align-items: center;

   padding: 35px 39px;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 32px;
   border-radius: 24px;
   background-color: #84A178;
   color: #FCFCFC;


   @media screen and (min-width: 768px) {
     padding: 29px 80px;

     font-size: 14px;
     font-weight: 500;
     line-height: 1.86;
     letter-spacing: 4%;


   }

   @media screen and (min-width: 1200px) {

     padding: 43px 109px;

     font-size: 16px;
     font-weight: 500;
     line-height: 1.86;
     letter-spacing: 4%;


   }
 }



 .customer_client {
   margin-bottom: 32px;
   text-align: center;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.86;

   color: #131313;

   @media screen and (min-width: 768px) {
     margin-bottom: 80px;


   }

   @media screen and (min-width: 1200px) {

     margin-bottom: 100px;




   }
 }



 .slider {
   min-width: 0;
 }

 .content {
   margin: auto;
   padding: 10px;
   width: 100%;
   max-width: 1008px;
   box-sizing: border-box;

   /*@media screen and (min-width: 768px) {
    min-width: 705px;

  }

  @media screen and (min-width: 1200px) {
    min-width: 968px;
    




  }*/
 }

 .customer_title {
   justify-content: center;
   align-items: center;
   text-align: center;
 }

.slick-slider {
   margin: 0;
 } 

 .slick-list {
   overflow: hidden;
 }

 .slick-track {
   display: flex;
   align-items: flex-start;
   width: 200px;
 }

 .customer_slider {
   position: relative;
   min-width: 0;
 }

 .customer_slider .slick-arrow {
   position: absolute;
   top: 50%;
   margin: -50px 0px 0px 0px;
   z-index: 10;
   font-size: 0;
   width: 40px;
   height: 80px;
 }

 .customer_slider .slick-arrow.slick-prev {
   left: 0;
 }

 .customer_slider .slick-arrow.slick-next {
   right: 0;
 }

 .customer_slider .slick-dots {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 18px;
 }

 .customer_slider .slick-dots li {
   list-style: none;
 }

 .customer_slider .slick-dots button {
   font-size: 0;
   width: 12px;
   height: 12px;
   background-color: #D9D9D9;
   border-radius: 50%;
   outline: transparent;
   border: none;

 }

 .customer_slider .slick-dots li.slick-active button {
   background-color: #84A178;

 }