.footer-section {
    background-color: $mainBgColor;
    padding-bottom: 20px;
    

    @media screen and (min-width: 768px) {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.footer-name {
       margin-bottom: 60px;

       @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
    
}
.footer-container-wrapper {
    padding-top: 60px;
    padding-bottom: 40px;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 32px;
      }

      @media screen and (min-width: 1200px) {
        padding-top: 120px;
        padding-bottom: 60px;
    }
}
.footer-doubletitel {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(22 / 18);
    text-transform: uppercase;
    width: 232px;
    color: $lightTextColor;

    @media screen and (min-width: 768px) {
        width: 352px;
        font-size: 26px;
        line-height: calc(32 / 26);
        letter-spacing: 0.04em;
    }
    @media screen and (min-width: 1200px) {
        width: 504px;
        font-weight: 400;
        font-size: 30px;
        line-height: calc(37 / 30);
    }
}
.footer-doubletext {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: calc(41 / 34);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $lightTextColor;
    margin-top: 16px;
    width: 200px;

    @media screen and (min-width: 768px) {
        font-size: 48px;
        line-height: calc(59 / 48);
        letter-spacing: 0.06em;
        margin-top: 8px;
        width: 352px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 58px;
        line-height: calc(71 / 58);
        margin-top: 14px;
        width: 100%;
    }
 
}
.footer-contacts {

    @media screen and (min-width: 768px) {
        padding-top: 65px;
       
    }
    @media screen and (min-width: 1200px) {
        padding-top: 0;
    }
}

.footer-socials-list {
    display: flex;
    gap: 20px;
    justify-content: end;

    @media screen and (min-width: 1200px) {
        gap: 30px;
    }
}
.footer-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    fill: $mainBgColor;

    background-color: $defaultBtnBgColor;
    border-radius: 50%;

    &:hover {
        fill: $secondaryBgColor;
    }
    &:focus {
        fill: $secondaryBgColor;
    }
}
.footer-socials-icon {
    display: block;
    width: 20px;
    height: 20px;
}

.footer-call {
    display: flex;
    justify-content: end;
    margin-top: 20px;

    @media screen and (min-width: 768px) {
        margin-top: 34px;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 40px;
    }
}
.footer-tel {
    display: block;
    text-decoration: none;
    font-family: $mainFont;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: calc(22 / 12);
    color: $lightTextColor;

    &:hover {
        color: $accentTextColor;
    }
    &:focus {
        color: $accentTextColor;
    }

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: calc(26 / 14);
    }
    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: calc(30 / 16);
    }
}
.tel-first-part {
    margin-right: 5px;

    font-family: $mainFont;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: calc(22 / 12);
    color: $darkTextColor;

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: calc(26 / 14);
    }
    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: calc(30 / 16);
    }
}
.footer-line {
    border-bottom: 1px solid $footerBorder;
    width: auto;
    
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -20px;

    @media screen and (min-width: 768px) {
        margin-bottom: 12px;
        margin-left: -32px;
        margin-right: -32px;
    
    }
    @media screen and (min-width: 1200px) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
.footer-text {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(21 / 14);
    text-align: center;
    margin: 0 auto;
    width: 150px;
 
    color: $footerColor;

    @media screen and (min-width: 768px) {
        line-height: calc(26 / 14);
        letter-spacing: 0.02em;
        width: 300px;
    }
}

