.gallery{
    margin: 0 auto;
    padding-bottom: 80px;
    background-image: linear-gradient(to bottom,
                $mainBgColor 23%,
                transparent 23%,
            transparent 77% );
           

}

      
    
   .gallery-box{
    
   
@media screen and (min-width: 1200px) {
        padding-left: 93px;
        padding-right: 94px;
}}


.swiper-box{
    position: relative;
     
    @media screen and (min-width: 320px) {
        min-height: 130px;
    }
    @media screen and (min-width: 768px) {
min-height: 327px;
    }
    @media screen and (min-width: 1200px) {
min-height: 422px;
    }
    

}

.first-slide {
  
position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.second-slide{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
 
}

.third-slide {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
 