.gallery{
    
    padding-bottom: 80px;
    background-image: linear-gradient(to bottom,
                $mainBgColor 23%,
                transparent 23%,
            transparent 77% );
           

}

      
    
   .gallery-box{
    
    .slick-list{
        overflow: hidden;
    }
    .slick-track {
        display: flex;
        align-items: flex-start;
                
            
           }
               
@media screen and (min-width: 1200px) {
        padding-left: 93px;
        padding-right: 94px;
  
}}

