.header{
    background-color: $mainBgColor;
    @media screen and (max-width: 480px) {
        position: fixed;
        z-index: 5;
        width: 100%;
    }
}

.header .container{
    display: flex;
    padding-top: 12px;
    padding-bottom: 16px;
    justify-content: space-between;
    
    @media screen and (min-width: 768px) {
        padding-top: 20px;
        justify-content: space-between;
    }
    @media screen and (min-width: 1200px) {
        padding-top: 8px;
        padding-bottom: 45px;
        align-items: center;
    }
}

.logo{
    @media screen and (min-width: 1200px) {
        margin-right: 308px;
    }
}

.site-nav{
    margin-right: 205px;
    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.site-nav-list{
    display: flex;
}

.site-nav-list-item{
    &:not(:last-child){
        margin-right: 28px;
    }
}

.site-nav-list-link{
    @extend %link;
    font-family: $mainFont;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: $lightTextColor;
    transition: color $transition;
    &:hover,&:focus{
        color: $accentTextColor;
    }
}


.buttons{
    display: flex;
    align-items: center;
}

.header-button{
    @extend %button;
    padding: 12px 36px;
    background-color: $defaultBtnBgColor;
    color: $buttonTextColor;
    fill: $buttonTextColor;
    transition: background-color $transition, 
    border-color $transition, 
    color $transition,
    fill $transition;
    &:hover{
        background-color: $hoverFocusBtnBgColor;
        border-color: $hoverFocusBtnBgColor;
    }
    &:focus{
        background-color: $hoverFocusBtnBgColor;
        border-color: $hoverFocusBtnBgColor;
        color: #ffffff;
        fill: #ffffff;
    }
    @media screen and (max-width: 767px) {
        display: none;
    }
}


//Стили Мобильного меню
.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    padding: 12px 32px 10vh;
    background-color: $mobileMenuBgColor;
    transform: translateX(150%);
    transition: transform $transition;
    @media screen and (min-width: 1200px) {
        display: none;
    }
}


.mobile-menu.is-open {
    transform: translateX(0);
}

.menu{
    display: flex;
    justify-content: space-between;
}

.mobile-menu-logo{
    margin-bottom: 51px;
}

.mobile-menu-button,
.mobile-menu-close{
    background-color: $mainBgColor;
    fill: #ffffff;
    border: none;
    padding: 0;
    height: 41px;
    cursor: pointer;
    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.mobile-menu-button{
    @media screen and (min-width: 768px) {
        margin-right: 30px;
    }
}

.mobile-menu-site-nav{
    margin-bottom: 21vh;
}

.mobile-menu-item{  
    text-align: center;
    &:not(:last-child){
        margin-bottom: 32px;
    }
}

.mobile-menu-link{
    @extend %link;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.22;
    color: $lightTextColor;
    transition: color $transition;
    &:hover,&:focus{
        color: $darkTextColor;
    }
    @media screen and (min-width: 768px) {
        font-size: 48px;
    }

}

.mobile-header-button{
    @extend %button;
    padding: 12px 36px;
    max-width: 152px;
    display: block;    
    margin-right: auto;
    margin-left: auto;
    color: $buttonTextColor;
    fill: $buttonTextColor;
    background-color: $defaultBtnBgColor;
    transition: background-color $transition, 
    border-color $transition, 
    color $transition,
    fill $transition;
    &:hover{
        background-color: $hoverFocusBtnBgColor;
        border-color: $hoverFocusBtnBgColor;
    }
    &:focus{
        background-color: $hoverFocusBtnBgColor;
        border-color: $hoverFocusBtnBgColor;
        color: #ffffff;
        fill: #ffffff;
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}

//Модальне вікно
.buy-modal{
    width: 280px;
    padding: 28px;
    border: 2px solid #F8D24E;
    border-radius: 10px;
    display: block;
    align-items: center;
    overflow: auto;
    pointer-events: none;
}

.buy-modal.active{
    pointer-events: all;
}

.buy-modal.modal{
    max-height: 700px;
    @media screen and (min-width: 768px) {
        width: 568px;
        max-width: 568px;
        padding: 32px 54px;
    }
}
.buy-modal-close{
    position: absolute;
    top: 2px;
    right: 15px;
    background-color: $secondaryBgColor;
    fill: $darkTextColor;
    border: none;
    padding: 0;
    height: 41px;
    cursor: pointer;
}

.buy-modal-form{
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        justify-content: center;
    }
}

.buy-modal-title{
    font-family: $titleFont;
    text-align: center;
    margin-bottom: 83px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    @media screen and (min-width: 768px) {
        font-size: 20px;
        line-height: 1.4;
    }
}

.buy-modal-checkbox{
    display: block;
    margin-bottom: 50px;
    @media screen and (min-width: 768px) {
        margin-bottom: 40px;
    }
}

.custom-box{
    width: 132px;
    height: 135px;
}

.modal-form-input,
.modal-form-coment{
    width: 224px;
    padding: 8px 12px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    outline: transparent;
    transition: border-color $transition;
    &:focus{
        border-color: $hoverFocusBtnBgColor;
    }
    @media screen and (min-width: 768px) {
        width: 324px;
        padding: 11px 16px;
    }
}

.buy-modal-checkbox-none{
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
}

.custom-box-green::before,
.custom-box-yellow::before,
.custom-box-red::before{
    position: absolute;
    right: 72px;
    content: '';
    display: inline-block;
    width: 132px;
    height: 132px;
    border-radius: 98px;
    background-size: contain;
    z-index: 2;
}

.custom-box-green::before{
    top: 96px;
    background-image: url(../images/header/ice-cream.jpg);
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25); 
    @media screen and (min-width: 768px) {
        right: 378px;
    }  
}

.custom-box-green::after,
.custom-box-yellow::after,
.custom-box-red::after{
    position: absolute;
    right: 72px;
    content: '';
    display: inline-block;
    width: 132px;
    height: 132px;
    border-radius: 98px;
    background-size: contain;
}

.custom-box-green::after{
    background-image: radial-gradient(circle at center,rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
    top: 104px;
    @media screen and (min-width: 768px) {
        right: 378px;
    }  
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .custom-box-green::before {
    background-image: url(../images/header/ice-cream@2x.jpg);
}}

.custom-box-yellow::before{
    top: 302px;
    background-image: url(../images/header/ice-coffee.jpg);
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
    @media screen and (min-width: 768px) {
        top: 96px;
        right: 215px;
    }  
}


.custom-box-yellow::after{
    background-image: radial-gradient(circle at center, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
    top: 311px;
    @media screen and (min-width: 768px) {
        top: 104px;
        right: 215px;
    }  
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .custom-box-yellow::before {
    background-image: url(../images/header/ice-coffee@2x.jpg);
}}

.custom-box-red::before{
    top: 498px;
    background-image: url(../images/header/milkshake.jpg);
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
    @media screen and (min-width: 768px) {
        top: 96px;
        right: 54px;
    }  
}

.custom-box-red::after{
    background-image: radial-gradient(circle at center, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
    top: 506px;
    @media screen and (min-width: 768px) {
        top: 104px;
        right: 54px;
    }  
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .custom-box-red::before{
    background-image: url(../images/header/milkshake@2x.jpg);
}}

.custom-box{
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.04em;
    padding: 96px 10px 20px;
    border-radius: 15px;
}

.custom-box-green{
    border: 2px solid $tabletMenuBgColor;
}

.buy-modal-checkbox-none:checked + .custom-box-green{
    background-color: $tabletMenuBgColor;
}

.custom-box-yellow{
    border: 2px solid $iceCofeeBBgColor;
}

.buy-modal-checkbox-none:checked + .custom-box-yellow{
    background-color: $iceCofeeBBgColor;
}

.custom-box-red{
    border: 2px solid $milkshakesBgColor;
}

.buy-modal-checkbox-none:checked + .custom-box-red{
    background-color: $milkshakesBgColor;
}

.modal-form-input{
    margin-bottom: 12px;
}

.modal-form-coment{
    
    resize: none;
    margin-bottom: 26px;
}

::placeholder{
    color: $darkTextColor;
}
.buy-modal-button{
    @extend %button;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: $defaultBtnBgColor;
    transition: background-color $transition,
    border-color $transition,
    color $transition;
    &:hover{
        background-color: $hoverFocusBtnBgColor;
        border-color: $hoverFocusBtnBgColor;
    }
    &:focus{
        background-color: $hoverFocusBtnBgColor;
        border-color: $hoverFocusBtnBgColor;
        color: #ffffff;
    }
}