.products {
  padding: 60px 0;
}
.products-subtitle {
  font-family: $mainFont;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $darkTextColor;
  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: calc(27 / 22);
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: calc(37 / 30);
  }
}
.products-title {
  font-family: $titleFont;
  font-weight: 400;
  font-size: 30px;
  line-height: calc(38 / 30);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $darkTextColor;
  margin-bottom: 148px;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: calc(43 / 34);
    margin-bottom: 80px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(45 / 36);
    letter-spacing: 0.06em;
    margin-bottom: 120px;
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 168px;
//   outline: 1px solid red;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    gap: 16px;
  }

  @media screen and (min-width: 1200px) {
    gap: 29px;
  }
}

.products-item {
  height: 420px;
  border-radius: 24px;
  padding: 0 40px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 96px) / 2);
    height: 428px;
    padding: 0 26px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 2);
    height: 536px;
    padding: 0 64px;
  }
}

.products-item.ice-cream {
  position: relative;
  background-color: $iceCreamBgColor;
}

.products-item.ice-cream::before,
.products-item.ice-coffee::before,
.products-item.milkshakes::before {
  content: '';
  position: absolute;
  bottom: 317px;
  left: 40px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  @media screen and (min-width: 768px) {
    bottom: 336px;
    left: 12px;
  }
  @media screen and (min-width: 1200px) {
    bottom: 401px;
    left: 34px;
    width: 302px;
    height: 302px;
    border-radius: 150px;
  }
}

.products-item.ice-cream::before {
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}

.products-item.ice-cream::after,
.products-item.ice-coffee::after,
.products-item.milkshakes::after {
  content: '';
  position: absolute;
  bottom: 328px;
  left: 40px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-size: contain;

  @media screen and (min-width: 768px) {
    bottom: 348px;
    left: 12px;

    @media screen and (min-width: 1200px) {
      bottom: 417px;
      left: 34px;
      width: 302px;
      height: 302px;
      border-radius: 150px;
      background-size: cover;
    }
  }
}
.products-item.ice-cream::after {
  background-image: url(../images/products/img1_mobile@1x.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/img1_mobile@2x.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/products/img1_tablet@1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/img1_tablet@2x.jpg);
    }

    @media screen and (min-width: 1200px) {
      background-image: url(../images/products/img1_desktop@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/img1_desktop@2x.jpg);
      }
    }
  }
}
.products-item.ice-coffee {
  position: relative;
  background-color: $iceCofeeBBgColor;
}
.products-item.ice-coffee::before {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}

.products-item.ice-coffee::after {
  background-image: url(../images/products/img2_mobile@1x.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/img2_mobile@2x.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/products/img2_tablet@1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/img2_tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/products/img2_desktop@1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/img2_desktop@2x.jpg);
    }
  }
}
.products-item.milkshakes {
  position: relative;
  background-color: $milkshakesBgColor;
}
.products-item.milkshakes::before {
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}

.products-item.milkshakes::after {
  background-image: url(../images/products/img3_mobile@1x.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/img3_mobile@2x.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/products/img3_tablet@1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/img3_tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/products/img3_desktop@1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/img3_desktop@2x.jpg);
    }
  }
}

.products-item-title {
  font-family: $mainFont;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $darkTextColor;
  margin-top: 123px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: calc(27 / 22);
    margin-top: 108px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: calc(37 / 30);
    margin-top: 165px;
  }
}

.products-item-text {
  font-size: 14px;
  line-height: calc(25 / 14);
  text-align: center;
  letter-spacing: 0.04em;
  color: $darkTextColor;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(28 / 16);
  }
}

.products-button {
  display: inline-block;
  background-color: inherit;
  border: none;
  margin-right: auto;
  margin-left: auto;
}

.products-button-icon {
  position: absolute;
  top: 388px;
  left: 120px;

  @media screen and (min-width: 768px) {
    top: 400px;
    left: 92px;
  }

  @media screen and (min-width: 1200px) {
    top: 460px;
    left: 165px;
  }
}

/* === MODAL WINDOW ===*/

.products-modal {
  width: 280px;
  text-align: center;
  padding: 28px 20px;
  border-radius: 10px;
  border: 2px solid $defaultBtnBgColor;
  overflow: auto;
}

.products-modal.modal {
  max-height: 700px;

//   @media screen and (min-width: 768px) {
//     width: 568px;
//     max-width: 568px;
//     padding: 32px 40px;
//   }
}

.products-modal-close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 12px;
  fill: currentColor;
  cursor: pointer;
}

.modal-products-title {
  font-family: $titleFont;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(28 / 20);
  margin-bottom: 20px;
}

.modal-products-background {
  position: relative;
  width: 132px;
  height: 132px;
  border-radius: 100px;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 22px;
}

.modal-products-img {
  position: absolute;
  bottom: 7px;
  width: 132px;
  height: 132px;
  border-radius: 100px;
  background-image: url(../images/products/img4_modal@1x.jpg);
  background-size: contain;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/img4_modal@2x.jpg);
  }
}

.modal-products-components {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.modal-products-wrap {
  width: 53px;
  height: 72px;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
}

.modal-products-amount {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  background: #9cbe8f;
  border-radius: 50%;
  border: 2px solid #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  margin-bottom: 8px;
}

.modal-products-number {
  font-weight: 500;
  font-size: 10px;
  line-height: calc(28 / 10);
}

.modal-products-text {
  font-size: 10px;
  line-height: calc(12 / 10);
}

.modal-products-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(28 / 20);
  margin-top: 40px;
  margin-bottom: 24px;
}

.modal-products-wrapper {
  margin-bottom: 40px;
}

.modal-products-block {
  display: flex;
  justify-content: space-between;
}

.modal-products-list {
  font-size: 14px;
  line-height: calc(25 / 14);
  letter-spacing: 0.04em;
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.modal-products-list.ingredients {
  text-align: start;
}

.modal-products-list.amount {
  text-align: end;
}

.modal-products-input {
  margin-bottom: 12px;
}

.modal-products-input,
.modal-products-message {
  width: 100%;
  padding: 11px 10px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
}

.modal-products-message {
  resize: none;
  margin-bottom: 26px;
}

.modal-products-btn {
  @extend %button;
  background-color: $defaultBtnBgColor;
  width: 132px;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: $darkTextColor;
}
